
body {
  background: gray;
}
.box {
  width: 300px;
  height: 300px;
  border: 2px solid red;
  background-color: cyan;
  line-height: 250px;
  font-size: 50px;
  color: indigo;
  text-align: center;
  perspective: 3rem;
  transform-style: preserve-3d;
  animation: myAnime 2s linear infinite;
}

@keyframes myAnime {
  0% {
    transform: none;
    background-color: cyan;
  }
  25% {
    transform: perspective(3rem) skewX(45deg) translateX(100px);
    background-color: green;
  }
  50% {
    transform: perspective(3rem) skewX(45deg) skewY(-45deg) translate(100px, 200px);
    background-color: orange;
  }
  75% {
    transform: perspective(3rem) skewX(45deg) skewY(-45deg) translate(100px, 300px);
    background-color: orange;}
  100% {
    transform: perspective(3rem) skewX(45deg) translate(100px, 100px) skewY(-45deg) ;
    background-color: red;
  }
}
