body{
  background-color: yellow;
}
.container{
  margin-top: 100px;
  perspective: 9cm;
  transform: rotateX(-15deg) rotateY(30deg);
  transform-style: preserve-3d;
  width: 100px;
  height: 100px;
  margin-left: 100px;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
 
}
.cube{
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 100px;
  text-align: center;
}
.front{
  transform: translate3d(0,0, 50px);
  background-color: red;
  
}
.left{
  transform: rotateY(-90deg)translate3d(0,0,50px);
  background-color: skyblue;
  z-index: 1;
}
.top{
  transform:rotateX(90deg)translate3d(0,0,50px);
  background-color: cyan;
  z-index: 1;
}
.back{transform:rotateZ(90deg) translate3d(0,0, 50px);
background-color: lightgray;
z-index: 1;}
.right{transform:rotateY(90deg) translate3d(0,0, 50px);
  background-color: green;}
.bottom{transform:rotateX(-90deg) translate3d(0,0, 50px);
    background-color: purple;}
  